/* sheard styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

* {
    margin: 0;
    padding: 0;

}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}



.display_flex {
    display: flex;
}

.text_grey {
    color: rgba(58, 58, 58, 1);
}

.nav_item {
    list-style: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 600;
}

.nav_emoji {
    gap: 30px;
    justify-content: center;

    align-items: center;
}

.nav_links {
    gap: 60px;
}

.navbar {
    justify-content: space-around;
    margin-top: 3%;


}

.navbar_title {
    /* margin-left: 10%; */
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

/* .nav_links {
    margin-right: 10%;
} */

.banner {
    justify-content: space-around;
}


/* .banner_content {
    margin-left: 10%;
    margin-top: 8%;
} */

.banner img {
    margin-top: 2%;
}

.banner_content {
    margin-top: 6%;
}

.banner_title {
    font-size: 3.2rem;
    font-weight: bold;


}

.banner_description {
    font-size: 1rem;
    font-weight: 600;
}

.btn_primary {
    background-color: rgba(224, 44, 109, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 33px;
    border: none;
    align-items: center;
    border-radius: 25px;
    margin-top: 20px;



}

/* header {
    background-image: url("/images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: 91% 96%;
} */

/* main section strat */
.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 4%;

}

/* popular collection */
.collections_item {
    width: 100%;
    justify-items: center;
    margin: 0 auto;
}

.collection_title {
    margin-top: 4%;
    text-align: center;
}

.item_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.item {
    border: none;
    border-radius: 5px;
    width: 300px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.item_img {
    border: none;
    border-radius: 5px;
    padding: 13px;
}

.item_heading {
    font-size: 1.75rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
    padding-left: 13px;
    margin: 6px;
}

.item_price {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 13px;
    margin: 6px;
}

.item_description {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
    padding-left: 13px;
    margin-bottom: 17px;
}

/* featured of product */
.featured_Products {
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 6%;

}

/* footer part start */
.footer_influence {
    background-color: rgb(21, 21, 65);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    
}
.footer_content{
    padding: 40px 0px;
}
.foot_title {
    font-size: 1.5rem;
    font-weight: bold;
}

.foot_description {
    font-size: 0.8rem;
    font-weight: bold;
   text-align: center;
}


/* Responsive layout */
@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3%;
    }

    .box {
        flex-wrap: wrap;
        gap: 8px;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 8%;
        /* margin: 0 auto; */
    }

    .banner_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .nav_links {
        flex-direction: column;
    }

    .featured_Products{
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .featured_contend{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


 

}

@media screen and (min-width:577px) and (max-width:992px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3%;
    }

    .box {
        flex-wrap: wrap;
        gap: 8px;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 8%;
        /* margin: 0 auto; */
    }

    .banner_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}